.wrapper {
  backdrop-filter: blur(1px);
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
  width: calc((100% / 3));
  aspect-ratio: 0.8;
  margin: 8px;
  border-radius: 16px;
  overflow: hidden;


  @media (max-width: 800px) {
    width: 94%;
  }

  &:hover {
    backdrop-filter: none;
  }

  h2 {
    z-index: 2;
    font-size: 30px;
    color: #476279;
  }
}